.mainHeader {
  background: #E5AC62;
  margin-bottom: 14px;
}

.mainHeaderInner {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-areas: 
  "header-logo header-search header-profile "
  ;
  grid-template-columns: 2fr 8.62fr 1.38fr;
}



.mainHeaderLogoLink {
  grid-area: header-logo;
  display: flex;
  align-items: center;
  width: 33px;
}

.mainHeaderSearchContainer {
  grid-area: header-search;
  display: flex;
  align-items: center;
}

.mainHeaderProfileWrap {
  grid-area: header-profile;
  background: #966c36;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.mainHeaderProfileWrap::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 14px;
  background: url('./../../assets/Images/arrow_header.svg') no-repeat center;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.mainHeaderProfileImg {
  border-radius: 50%;
  margin-left: 12px;
}

.mainHeaderSearch {
  max-width: 230px;
  height: 28px;
  border-radius: 14px;
  outline: unset;
  border: none;
  background: #7e5a2a;
  text-indent: 28px;
  color: #E5AC62;
  box-shadow: 0px 8px 16px rgba(143, 101, 18, 0.12), 0px 16px 32px rgba(214, 152, 27, 0.12);
}

.mainHeaderSearch::placeholder {
  color: #E5AC62;
}

.mainHeaderSearchWrap {
  position: relative;
  border-radius: 14px;
}

.mainHeaderSearchWrap::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: url('./../../assets/Images/search.svg')no-repeat center;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
